@font-face {
    font-family: NCAA;
    src: url(./assets/font/NCAA-Michigan-St-Spartans/NCAA\ Michigan\ St\ Spartans.otf);
}

@font-face {
    font-family: Bebas;
    src: url(./assets/font/bebas_neue/BebasNeue-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    
}

i {
    cursor: pointer;
}

.jumbotron {
    background: url(./assets/photos/IMG_3329.png) center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: Bebas;
    background-color: white;
}

.navbar-brand {
    color: black;
}

.nav-link {
    color: black;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: yellow;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.05em, 0);
}

a {
    display: block;
    position: relative;
    padding: 0.05em 0;
    font-size: 1.5rem;
}

.alt-nav {
    font-family: Bebas;
}

.alt-nav-link {
    color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.card {
    margin-top: 5%;
    border: 0;
    background: transparent;
    letter-spacing: 0.2rem;
    color: black;
}







